
<div class="banner">
    <div class="containerr banner-wrapper">
      <div class="banner-content">
        <h1>Liga E-Players</h1>
        <h4>O maior portal de campeonatos online</h4>
        <a routerLink="/login">Inscreva-se</a>
      </div>
    </div>
  </div>

<div class="games">
    <div class="containerr games-wrapper">
        <img src="../../../assets/img/f1-logo.png" alt="f1">
        <img src="../../../assets/img/lol-logo.png" alt="">
        <img src="../../../assets/img/cs-logo.png" alt="">
        <img src="../../../assets/img/valorant.png" alt="">
        <img src="../../../assets/img/fifa.png" alt="">
    </div>
</div>

<section class="pricing">
    <div class="containerr">
      <h1>Ofertas</h1>
      <div class="pricing-wrapper">
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/img/cardnews.jpg">
          <div class="card-text">
            <h3>Jogo do ano</h3>
            <p>Descricao do jogo do ano</p>
            <p class="price">R$30,00</p>
            <a>Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </section>